// ele-form相关样式
.su-form {
  .el-form-item {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 21px !important;
  }

  .el-textarea {
    textarea {
      padding: 8px 12px;
    }
  }

  .el-form-item__label {
    flex: none;
    text-align: right;
    padding-right: 12px;
    padding-bottom: 0;
    font-size: $font-size-base;
    line-height: $height-xs;
    font-family: $--font-family;
    color: $color-title;
  }

  .el-form-item__content {
    flex: auto;
    line-height: $height-xs;
    margin: 0 !important;
    // 解决文件上传组件选择的文件名过长时会溢出，设置宽度为0，由flex自动拉伸宽度
    width: 0;

    > *:not(.el-button) {
      width: 100%
    }

    .el-switch {
      width: auto !important;
    }

    .el-input__inner,
    .el-textarea__inner {
      height: $height-md;
      min-height: $height-md;
      line-height: $height-md;
      font-size: $text-size-xs;
      font-family: $--font-family;
      text-align: left;
      color: $general100;
      padding: 0 12px;
      border-radius: 3px;

      //&::-webkit-input-placeholder {
      //  color: $color-text-secondary;
      //}
      //
      //&:-moz-placeholder {
      //  color: $color-text-secondary;
      //}
      //
      //&::-moz-placeholder {
      //  color: $color-text-secondary;
      //}
      //
      //&:-ms-input-placeholder {
      //  color: $color-text-secondary;
      //}

      //&:hover {
      //  background: $color-white;
      //  border: 1px solid $color-primary-light;
      //}
    }

    .el-textarea__inner {
      height: unset;
    }

    .el-range-editor {
      width: 100%;
    }

    .el-date-editor {
      width: 100%;
    }

    .el-range-editor.is-disabled:hover {
      border-color: #e4e7ed;
      background-color: #F5F7FA;
    }

    .el-range-editor.is-disabled:focus {
      border-color: #e4e7ed;
      background-color: #F5F7FA;
    }

  }

  .require-icon {
    .cell {
      display: flex;
      align-items: center;

      &::before {
        content: '*';
        color: red;
        margin: 3px 2px 0;
      }
    }
  }

  .app-dialog-btn {
    border: 1px solid #3c86ff;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #3c86ff;
    margin: 15px 0 20px 0;
    cursor: pointer;

    .el-icon-plus {
      margin-right: 8px;
    }
  }

  .el-radio-group {
    height: 32px;
    line-height: 32px;
    display: flex;
    align-items: center;
  }

  .el-cascader {
    line-height: 32px;
  }
}

// form下的各种框的宽度需要100%
.el-form-item {
  .el-autocomplete,
  .el-cascader,
  .su-date-picker,
  .su-input {
    width: 100%;
  }
}
