.el-autocomplete, .el-date-editor {
  .el-input__icon {
    line-height: $height-md;
  }
}

// 级联的悬浮样式
.el-cascader:not(.is-disabled):hover .el-input__inner {
  border: solid 1px $blue100 !important;
}

//
.el-input-number {
  .el-input-number__increase, .el-input-number__decrease {
    width: 32px;
    line-height: 30px;
  }

  .el-input__inner {
    text-align: center !important;
    border: solid 1px #D7DBEC !important;
  }
}


// 单行输入框，多行输入框的各状态的颜色处理
.el-input,
.el-textarea,
.el-cascader,
.el-select,
.su-date {

  // 日期范围的active
  .el-range-editor.is-active {
    border: solid 1px $blue100;
    box-shadow: 0 0 0 3px rgba(156, 205, 255, 0.30);
    outline: 0;
  }

  // 多选下拉框
  .el-input.is-focus .el-input__inner {
    border: solid 1px $blue100;
    box-shadow: 0 0 0 3px rgba(156, 205, 255, 0.30);
    outline: 0;
  }

  // 默认状态
  .el-textarea__inner,
  .el-input__inner {
    border: solid 1px $general50;
    border-radius: 4px;
    font-family: $--font-family;
    line-height: $height-md;
    color: $general100;
    text-align: left;
    transition: all .3s;

    // 悬浮状态
    &:hover {
      //border: $--select-border-color-hover 1px solid;
      border: solid 1px $blue100 !important;
    }

    // 选中状态
    &.is-active,
    &.is-focus,
    &:focus {
      border: solid 1px $blue100;
      box-shadow: 0 0 0 3px rgba(156, 205, 255, 0.30);
      outline: 0;
    }
  }
}


// placeholder信息样式
input::placeholder, textarea::placeholder {
  color: $general60 !important;
  font-size: $text-size-xs;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: $general60 !important;
  font-size: $text-size-xs;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: $general60 !important;
  font-size: $text-size-xs;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: $general60 !important;
  font-size: $text-size-xs;
}

.el-input {
  font-family: $--font-family;
  font-size: $font-size-base;
  height: $height-md;
  line-height: $height-md;
  background: $color-white;
  text-align: left;
  color: $general100;
  border-radius: $--border-radius-base;

  .el-input__prefix .el-input__unit,
  .el-input__prefix .el-input__icon.el-icon-eleme,
  .el-input__suffix .el-input__unit,
  .el-input__suffix .el-input__icon.el-icon-eleme {
    line-height: 32px;
    color: $general60;
    font-size: 16px;
  }

  .su-input-slot-suffix {
    margin-right: 7px;
  }

  .su-input-slot-prefix {
    margin-left: 7px;
  }

  .su-input-slot-suffix,
  .su-input-slot-prefix,
  .su-input-slot-append,
  .su-input-slot-prepend {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .el-input-group__prepend,
  .el-input-group__append {
    color: $general100; // $general60;
    height: 30px;
    line-height: 30px;

    .su-input-slot-append, .su-dropdown, .el-button {
      height: 30px;
      line-height: 30px;
    }
  }

  //.el-input__suffix, .el-input__prefix {
  //  display: flex;
  //  align-items: center;
  //}

  // 清除按钮的样式设定
  .el-input__suffix {
    //.el-input__suffix-inner {
    //  div, span {
    //    margin-right: 7px;
    //  }
    //}

    .el-input__suffix-inner {
      height: 100%;
      display: flex;
      align-items: center;

      .el-icon-circle-close {
        &:before {
          content: "\e79d" !important;
          font-size: 14px;
        }

        &:hover {

        }
      }
    }
  }

  &.el-input--suffix .el-input__inner {
    padding-right: 45px;
  }

  .el-input__inner {
    font-size: $text-size-xs;
    height: $height-md;
  }

}

.el-input.el-input-group--append {
  .el-input__inner {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: none;
  }
}

.el-input-group--prepend {
  .el-input__inner {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow: none;
  }
}

// 输入框禁用状态 - 日期范围选择框的禁用状态
.el-range-editor.is-disabled:hover,
.el-range-editor.is-disabled,
.el-range-editor.is-disabled input,
.el-textarea.is-disabled .el-textarea__inner,
.el-input.is-disabled .el-input__inner {
  background: $general40 !important;
  border: 1px solid $general50 !important;
  cursor: not-allowed;
  box-shadow: none;
}

.el-range-editor.is-disabled input {
  border: none !important;
}


// form表单下错误的外观显示
.su-error-view,
.el-form .el-form-item.is-error {
  .el-input .el-input__inner,
  .el-textarea .el-textarea__inner,
  .el-input:hover .el-input__inner,
  .el-textarea:hover .el-textarea__inner,
  .el-textarea.is-focus .el-textarea__inner,
  .el-input.is-focus .el-input__inner {
    border: 1px solid $red90 !important;
  }

  .el-textarea .el-textarea__inner:focus,
  .el-input .el-input__inner:focus,
  .el-input.is-focus .el-input__inner {
    box-shadow: 0 0 0 3px rgba(246, 153, 163, 0.30);
  }

  .el-input {
    .el-input__suffix .el-input__suffix-inner {
      .el-icon-circle-close {
        color: $red90;
      }
    }
  }
}

.el-form {
  .su-select .el-select,
  .su-label-view, .su-label-view .content-view {
    width: 100%;
  }
}

/* 去掉input尾部上下小箭头 start */
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  -o-appearance: none !important;
  -ms-appearance: none !important;
  appearance: none !important;
  margin: 0;
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  -o-appearance: textfield;
  -ms-appearance: textfield;
  appearance: textfield;
}

/* 去掉input尾部上下小箭头 end */
.batchForm {
  .su-number-input {
    text-align: center;
  }
}

.su-number-input {
  position: relative;
  height: 32px;

  &.su-number--suffix .el-input .el-input__inner {
    padding-right: 45px;
  }

  .su-input__unit {
    position: absolute;
    right: 5px;
    top: 0;
    height: 32px;
    line-height: 32px;
    color: $general60;
  }

  .su-input__unit + .el-input {
    padding-right: 45px;
  }
}

// top-start 布局下的input的width放置auto
.su-top-start-placement {
  .content-view {
    .el-input {
      width: auto;
    }
  }
}
