{
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "end_with_newline": true,
  "wrap_attributes": "none",
  "printWidth": 100,
  "trailingComma": "all",
  "bracketSpacing": false,
  "arrowParens": "avoid",
  "vueIndentScriptAndStyle": false,
  "jsxBracketSameLine": false
}
